<div class="flex-container">
    <div class="title">
        <h1>Our Mission</h1>
    </div>

    <hr>

    <div class="revivalismTitle">
        <h3>Bethel House of Worship's Mission is Revivalism</h3>
    </div>

    <div class="container missionTextContainer">
        <div class="missionText">
            <p>Our mission is to create a family of hope, filled with believers who deeply experience the love and presence of God and Jesus Christ to express the joy and power of His kingdom in every area of worship and life.</p>
            <p>We have a passion for people, our universe and our world. Our culture is characterized by worship, the presence of God, family, revival, miracles, healings, and honor. These core values have been shaped by our strong belief and deep faith in God and the power of prayer.</p>
            <p>We are a global altar, who worship together as Disciples of Christ three days a week in a virtual phone service format. However, we are not your typical altar because of our global impact as a revival resource and equipping altar. People from around the world connect with Bethel House of Worship Prayer Line Altar, our ministry is experience more of God and the ways of His kingdom.</p>
            <p>We believe revival is a return to a spiritual health after a period of decline into sin and broken fellowship with God. And sovereign work of God in which he visits his own people, restoring and releasing them into fullness of his blessings.</p>
            <p>We are group of believers who are passionate about our relationship with God.</p>
            <p> Our priority is our personal relationship with God. Our first ministry is to God with extravagant joy and gratitude.</p>
        </div>
    </div>
</div>
