
<div class="flex-container">

    <div class="title">
        <h1>Pray For Someone</h1>
    </div>

    <hr>

    <!-- <div class="viewPrayerRequestsText">
        Coming soon!  Please pardon our appearance as we continue construction.
    </div> -->

    <div *ngIf="noRequests; else showRequests">
        <div class="flex-container">
            <div class="container">
                <h1 class="title">Coming Soon!</h1>
                <div class="viewPrayerRequestsText">At this time there are no prayer requests listed.  Please check back again soon
                    for prayer requests that may have been added.  Thank you for praying for those in need.</div>
            </div>
        </div>
    </div> 
    
    <ng-template #showRequests>
        <div class="flex-container">
            <div class="title">
                <h1>Prayer Requests:</h1>
            </div>
            <div *ngFor="let userPrayerRequest of userPrayerRequests;">
                <div class="card w-75 p-3 mx-auto" >
                    <div class="card-header">
                        <div class="headerTitle">
                            <div class="link">
                                <strong>Date Posted:</strong> {{userPrayerRequest.creationDate | date:'shortDate'}}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                            <div class= "requestTitle">
                                <u><strong>Request:</strong></u>
                            </div>
                            <div class= "requestText">
                                {{userPrayerRequest.prayerRequest}} 
                            </div>
                    </div>
                    <div class="card-footer">
                        <strong>Requestor: </strong>{{userPrayerRequest.firstName}}
                        <br> 
                        <strong>Location: </strong>{{userPrayerRequest.locationCity}}, {{userPrayerRequest.locationState}}, {{userPrayerRequest.locationCountry}}
                    </div>
                </div> 
                <br>
            </div>    
        </div>
        <br>
    </ng-template>

</div>  
