
<div class="flex-container">
    <div class="title">
        <h1>Pastor Dashboard - View Testimonials</h1>
        <h3>Currently Viewing {{this.status}} Testimonials</h3>
    </div>

    <div *ngIf="showingPending">
        <div class="row">
            <div class="col-md-6" id="approvedBtn">
                <button type="button" class="btn btn-success btn-sm" (click)="getApprovedTestimonials()">
                    View All Approved Testimonials
                </button>
            </div>
            <div class="col-md-6" id="deniedBtn">
                <button type="button" class="btn btn-danger btn-sm" (click)="getDeniedTestimonials()">
                    View All Denied Testimonials
                </button>
            </div>
        </div>
        <div *ngIf="!noTestimonials" class="row approveAllBtn">
            <div class="col">
                <button type="button" class="btn btn-success btn-sm" (click)="approveAllTestimonials()">
                    Approve All
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="showingApproved">
        <div class="row">
            <div class="col-md-6" id="pendingBtn">
                <button type="button" class="btn btn-warning btn-sm" (click)="getPendingTestimonials()">
                    View Pending Testimonials
                </button>
            </div>
            <div class="col-md-6" id="deniedBtn">
                <button type="button" class="btn btn-danger btn-sm" (click)="getDeniedTestimonials()">
                    View Denied Testimonials
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="showingDenied">
        <div  class="row">
            <div class="col-md-6" id="pendingBtn">
                <button type="button" class="btn btn-warning btn-sm" (click)="getPendingTestimonials()">
                    View Pending Testimonials
                </button>
            </div>
            <div class="col-md-6" id="approvedBtn">
                <button type="button" class="btn btn-success btn-sm" (click)="getApprovedTestimonials()">
                    View All Approved Testimonials
                </button>
            </div>
        </div>
        <div *ngIf ="!noTestimonials" class="row deleteAllBtn">
            <div class="col">
                <button type="button" class="btn btn-danger btn-sm" (click)="deleteDeniedTestimonials()">
                    Delete Testimonials
                </button>
                <br>
                <small><strong>*This will delete ALL current Prayer Testimonials marked as DENIED*</strong></small>     
            </div>
        </div>
    </div>


    <div *ngIf="noTestimonials; else showTestimonials">
        <div class="flex-container">
            <div class="container">
                <h1 class="title">No {{this.status}} Testimonials to Review!</h1>
                <div class="viewPrayerTestimonialsText">At this time there are no Testimonials waiting for review.  Please check back again soon
                    for any new Testimonials that may have been added.</div>
            </div>
        </div>
    </div> 

    <ng-template #showTestimonials>
        <div class="flex-container">
            <div *ngFor="let userTestimonial of userTestimonials | paginate: {itemsPerPage: 3, currentPage: p}">
                <div class="card w-75 p-3 mx-auto" >
                    <div class="card-header">
                        <div class="headerTitle">
                            <strong>Date Posted:</strong> {{userTestimonial.creationDate | date:'shortDate'}}
                        </div>
                    </div>
                    <div class="card-body">
                            <div class= "testimonialTitle">
                                <u><strong>Testimonial:</strong></u>
                            </div>
                            <div class= "testimonialText">
                                {{userTestimonial.testimonial}} 
                            </div>
                    </div>
                    <div class="card-footer">
                        <strong>Attestant: </strong>{{userTestimonial.firstName}}
                        <br> 
                        <strong>Location: </strong>{{userTestimonial.locationCity}}, {{userTestimonial.locationState}}, {{userTestimonial.locationCountry}}
                        <br>
                        <strong>Status: </strong>{{userTestimonial.requestStatus}}
                    </div>
                    <div *ngIf="showingPending" class="row">
                        <div class="col-md-4" id="approvedBtn">
                            <button type="button" class="btn btn-success btn-sm" (click)="approveTestimonial(userTestimonial.id)">
                                Approve Testimonial
                            </button>
                        </div>
                        <div class="col-md-4" id="deniedBtn">
                            <button type="button" class="btn btn-danger btn-sm" (click)="denyTestimonial(userTestimonial.id)">
                                Deny Testimonial
                            </button>
                        </div>
                    </div>
                    <div *ngIf="showingApproved" class="row">
                        <div class="col-md-4" id="approvedBtn">
                            <button type="button" class="btn btn-warning btn-sm" (click)="pendingTestimonial(userTestimonial.id)">
                                Mark Pending
                            </button>
                        </div>
                        <div class="col-md-4" id="deniedBtn">
                            <button type="button" class="btn btn-danger btn-sm" (click)="denyTestimonial(userTestimonial.id)">
                                Deny Testimonial
                            </button>
                        </div>
                    </div>
                    <div *ngIf="showingDenied" class="row">
                        <div class="col-md-4" id="approvedBtn">
                            <button type="button" class="btn btn-success btn-sm" (click)="approveTestimonial(userTestimonial.id)">
                                Approve Testimonial
                            </button>
                        </div>
                        <div class="col-md-4" id="deniedBtn">
                            <button type="button" class="btn btn-warning btn-sm" (click)="pendingTestimonial(userTestimonial.id)">
                                Mark Pending
                            </button>
                        </div>
                    </div>
                </div>
                <br>    
            </div> 
            <div id="paginationCntrls">
                <pagination-controls (pageChange) = "p = $event"
                    previousLabel = "Prev"
                    nextLabel = "Next"
                    responsive = "true"
                    autoHide="true">
                </pagination-controls>
            </div> 
        </div>
    </ng-template>

</div>

