.flex-container{
    font-size: 13pt;
    padding-top: 2%;
    padding-bottom: 2%;
}

.title{
    color: #422da3;
    text-align: center;
    padding-bottom: 1.5%;
}

hr{
    border: 1px solid #422da3;
    margin-left: 20%;
    margin-right: 20%;
}

.responsive{
    max-width: 100%;
    height: auto;
}

#prayerText, #previousServices{
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 1%;
}

#prayingCrossPic{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 1.5%;
}

h3{
    color: #422da3;
}

.whatWeDoContainer{
    padding-top: 3%;
    padding-bottom: 3%;
    max-width: 100%;
    background-color: #004f8c;
    background-image: url("../../../assets/brushed-alum.png");
}

#jesusWgirl{
    text-align: center;
    padding-top: 1%;
}

#headphones{
    padding-top: 2%;
    text-align: center;
}

#link{
    font-size: larger;
}