<div class="flex-container">
    <div class="title">
        <h1>Devoted to Prayer</h1>
    </div>
    
    <hr>

    <div class="row">
        <div class="col-md-6" id="prayerText">
            <p>
                Life is full of challenges that can feel overwhelming.  However, you don't have to face 
                them alone.  God is always by your side to give you strength in your darkest moments.
            </p>
            <p>
                Bethel House of Worship Prayer Line Altar in Dover, Delaware is here for those in need 
                so that they may feel the divine presence of the Lord. We help all of our brothers and sisters, 
                no matter who they are or where they come from.
            </p>
        </div>
        <div class="col-md-6">
            <img src="../../../assets/armsRaisedPraying.jpg" class="responsive" id="prayingCrossPic">
        </div>
    </div>

    <div class="container whatWeDoContainer">
        <div class="row">
            <div class="col-md-6" id="jesusWgirl">
                <img src="../../../assets/jesusWgirl.jpg" class="responsive">
            </div>
            <div class="col-md-6" id="whatWeDo">
                <div>
                    <h3>What We Do</h3>
                    <p>Bethel House of Worship Prayer Line Altar, prays with groups of people who come for prayer 
                    every Friday, Sunday, Wednesday 10:00 PM to 11:15 PM. 
                    </p>
                    <p>
                    <u>Sunday:</u> Prayer of Thanksgiving and Blessings
                    <br>
                    <u>Wednesday:</u> Prayer Over the Kingdom of Darkness
                    <br>
                    <u>Friday:</u> Holy Ghost Prayer and Speaking in Tongues
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
