<div class="flex-container">
    <div class="title">
        <h1>Devoted to Prayer</h1>
    </div>
    
    <hr id="topHR">

    <div class="row">
        <div class="col-md-6" id="prayerText">
            <p>
                Life is full of challenges that can feel overwhelming.  However, you don't have to face 
                them alone.  God is always by your side to give you strength in your darkest moments.
            </p>
            <p>
                Bethel House of Worship Prayer Line Altar in Dover, Delaware is here for those in need 
                so that they may feel the divine presence of the Lord. We help all of our brothers and sisters, 
                no matter who they are or where they come from.
            </p>
        </div>
        <div class="col-md-6">
            <img src="../../../assets/armsRaisedPraying.jpg" class="responsive" id="prayingCrossPic">
        </div>
    </div>

    <div class="container whatWeDoContainer">
        <div class="row">
            <div class="col-md-6" id="jesusWgirl">
                <img src="../../../assets/jesusWgirl.jpg" class="responsive">
            </div>
            <div class="col-md-6" id="whatWeDo">
                <div>
                    <h3>What We Do</h3>
                    <p>Bethel House of Worship Prayer Line Altar, prays with groups of people who come for prayer 
                    every Friday, Sunday, Wednesday 10:00 PM to 11:15 PM. 
                    </p>
                    <p>
                    <u>Sunday:</u> Prayer of Thanksgiving and Blessings
                    <br>
                    <u>Wednesday:</u> Prayer Over the Kingdom of Darkness
                    <br>
                    <u>Friday:</u> Holy Ghost Prayer and Speaking in Tongues
                    </p>
                </div>
                <div>
                    The healing prayer group is a group that is pursuing the Holy Spirit and His healing power. 
                    We are creating a place for Him to bring life, wholeness, and love to those who are suffering from 
                    physical ailments.  It is a place where passionate, joy-filled believers gather to host the 
                    presence of God and see Him bring complete restoration and healing.
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6" id="previousServices">
            <h3>Previous Prayer Services</h3>
            <p>
                If you've missed one of our services or live in a different country or time zone, you can 
                now listen online at any time.  Click one of the links below to join us at your own convenience. The top link 
                will take you to our new YouTube channel (Bethel House of Worship). The bottom link will open a Google 
                Doc where you can pick the date of the service you'd like to hear in an MP3 format.
            </p>
        
            <div id="link">
                1. <a href="https://www.youtube.com/channel/UCHq1-oDMH4eAeK8p8oLmsPg" id="link" target="_blank">
                Our YouTube Channel</a>
            </div>
            <span id="or">
                or
            </span>
            <div id="link">
                2. <a href="https://docs.google.com/document/d/1BRpH8U78KxMvYzZsRUMtExx1K_jirMxB-NWZDdr9NE4/edit?usp=sharing" id="link" target="_blank">
                Previous Prayer Services Google Docs Page</a>
            </div>
        </div>
        <div class="col-md-6" id="headphones">
            <img src="../../../assets/headphones.png" class="responsive">
        </div>
    </div>
</div>
