<div class="flex-container">
    <div class="title">
        <h1>Find Hope & Healing Through Faith</h1>
    </div>
    
    <hr>

    <div class="text">
        <p>
            Bethel House of Worship Prayer Line Altar is a place where believers of the Lord meet and pray together. 
            Our congregation is very passionate about helping the people in our local communities and around the world to reconcile with God. 
            We shape our core values and culture through worship, presence of the Lord, family, revival, miracles, healing, and honor.
        </p>
        <p>
            Whether it’s your first time here or you’re already a part of our family, we want you to always feel a warm welcome! 
            Together, let’s connect with God and be one of his disciples. 
        </p>
    </div>

    <div class="container altarContainer">
        <div class="row">
            <div class="col-md-6" id="altarPic">
                <img src="../../../assets/altarBible.jpg" class="responsive">
            </div>
            <div class="col-md-6" id="altarText">
                <h3 id="altarTitle">The Power of Prayer Altars</h3>
                <div>
                    Building a prayer altar is foundational in our pursuit of God's Presence.
                    It is the starting place, consistent place, and fueling place where we meet with God
                    and create an environment for Him to come. Here we receive and welcome the ones that prepare
                    themselves to come into the presence of our Almighty God. 
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="joinUs">
                <h2>Join us if you accept 
                    <br>
                    the Lord as your Savior.
                    <br>
                    Jesus loves and leads us!
                </h2>
                To learn more contact us at
                <br>
                <a href="tel:+1-302-382-8978" style="color: black;"><u>(302) 382-8978</u></a>
            </div>
        </div>
        <div class="col-md-6">
            <img src="../../../assets/kneelingCross.png" class="responsive" id="kneelingCross">
        </div>

    </div>
    

</div>
