<div class="flex-container">
    <div class="title">
        <h1>Find Hope & Healing Through Faith</h1>
    </div>
    <hr>
    <!-- <hr style="margin: 0 20%; border-top-color: #422da3; height: 10px"> -->

    <div class="text">
        <p>
            Bethel House of Worship Prayer Line Altar is a place where believers of the Lord meet and pray together. 
            Our congregation is very passionate about helping the people in the community and the world to reconcile with God. 
            We shape our core values and culture through worship, presence of the Lord, family, revival, miracles, healing, and honor.
        </p>
        <p>
            Whether it’s your first time or you’ve already a part of our family, we want you to always feel a warm welcome! Together, let’s reconnect with God and be one of his disciples. 
        </p>
    </div>

</div>
