
<div class="flex-container">

    <div class="title">
        <h1>Shared Testimonials</h1>
    </div>

    <hr>

    <div *ngIf="noTestimonials; else showTestimonials">
        <div class="flex-container">
            <div class="container">
                <h1 class="title">Coming Soon!</h1>
                <div class="viewPrayerRequestsText">At this time there are no testimonials listed.  Please check back again soon
                    for testimonials that may have been added.  Please check back again soon.</div>
            </div>
        </div>
    </div> 
    
    <ng-template #showTestimonials>
        <div class="flex-container">
            <div class="title">
                <h1>Testimonials:</h1>
            </div>
            <div *ngFor="let userTestimonial of userTestimonials | paginate: {itemsPerPage: 3, currentPage: p}">
                <div class="card w-75 p-3 mx-auto" >
                    <div class="card-header">
                        <div class="headerTitle">
                            <strong>Date Posted:</strong> {{userTestimonial.creationDate | date:'shortDate'}}
                        </div>
                    </div>
                    <div class="card-body">
                            <div class= "requestTitle">
                                <u><strong>Testimony:</strong></u>
                            </div>
                            <div class= "requestText">
                                {{userTestimonial.testimonial}} 
                            </div>
                    </div>
            
                    <div class="card-footer">
                        <div class="link">
                            <strong>Attestant: </strong>{{userTestimonial.firstName}}
                            <br> 
                            <strong>Location: </strong>{{userTestimonial.locationCity}}, {{userTestimonial.locationState}}, {{userTestimonial.locationCountry}}
                        </div>
                    </div>
                </div> 
                <br> 
            </div>
            <div id="paginationCntrls">
                <pagination-controls (pageChange) = "p = $event"
                    previousLabel = "Prev"
                    nextLabel = "Next"
                    responsive = "true">
                </pagination-controls>
            </div>
        </div>
    </ng-template>

</div> 


