<div class="flex-container">

<!-- Link below is for business address, waiting for EIN
<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=UQSUEYVRGRJEW&source=url">
<img src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif"></a> -->


<!-- link for B&S to get donations for finishing setup of business paypal -->
    <div class="donationButton">
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=7M67JVYTDBCG8&source=url">
        <img src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif"></a>
    </div>
</div>

