<div class="flex-container">

    <div class="title">
        <h1>Support our Mission</h1>
    </div>

    <hr>

    <div class="text">
        By purchasing items or donating direcctly to the Bethel House of Worship, you are helping us achieve our mission 
        of helping our local and global communities. Funds are used in various ways including keeping our site up and running, 
        helping local families, helping struggling people across the world, and sending shipments of goods to our brothers and 
        sisters in Africa.  If you are able and feel the desire to help our mission, please click on the Donate button below.
    </div>

<!-- Link below is for business address, waiting for EIN
<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=UQSUEYVRGRJEW&source=url">
<img src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif"></a> -->


<!-- link for B&S to get donations for finishing setup of business paypal -->
    <div class="donationButton">
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=7M67JVYTDBCG8&source=url">
        <img src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif"></a>
    </div>
</div>

