<div class="flex-container">
    <div class="heading">
        <h1>Send a Prayer Request</h1>
        <div id="headingDetails">
            * - Required Fields 
        </div>
    </div>

    <hr>

    <!-- <div class="buttons">
        Link to other places for view prayer requests?
    </div> -->





    <div class="container">
        <form [formGroup]="prayerRequestForm" (ngSubmit)="onSubmit()">
            <div class="panel panel-default">
                
                <div class="body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="firstName">First Name:*</label>
                            <input id="firstName" formControlName="firstName" type="text" class="form-control" placeholder="First Name" [ngClass]="{'is-invalid': form.firstName.errors && (form.firstName.touched || form.firstName.dirty)}">
                            <div *ngIf="form.firstName.errors && (form.firstName.touched || form.firstName.dirty)" class="invalid-feedback">
                                <div *ngIf='form.firstName.errors.required'>*First Name is Required</div>    
                                <div *ngIf='form.firstName.errors.pattern'>*Please Enter a Valid First Name</div>
                            </div>
                        </div>
                        
                        <div class="form-group col-md-6">
                            <label for="lastName">Last Name:*</label>
                            <input id="lastName" formControlName="lastName" type="text" class="form-control" placeholder="Last Name" [ngClass]="{'is-invalid': form.lastName.errors && (form.lastName.touched || form.lastName.dirty)}">
                            <div *ngIf="form.lastName.errors && (form.lastName.touched || form.lastName.dirty)" class="invalid-feedback">
                                <div *ngIf='form.lastName.errors.required'>*Last Name is Required</div>
                                <div *ngIf='form.lastName.errors.pattern'>*Please Enter a Valid Last Name</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="city">City:*</label>
                            <input type="text" formControlName="city" class="form-control" id="city" placeholder="City" [ngClass]="{'is-invalid': form.city.errors && (form.city.touched || form.city.dirty)}">
                            <div *ngIf="form.city.errors && (form.city.touched || form.city.dirty)" class="invalid-feedback">
                                <div *ngIf='form.city.errors.required'>*City is Required</div>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="state">State/Province/Region:*</label>
                            <input type="text" formControlName="state" class="form-control" id="state" placeholder="State/Province/Region" [ngClass]="{'is-invalid': form.state.errors && (form.state.touched || form.state.dirty)}">
                            <div *ngIf="form.state.errors && (form.state.touched || form.state.dirty)" class="invalid-feedback">
                                <div *ngIf='form.state.errors.required'>*State/Province/Region is Required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="country">Country:*</label>
                            <input type="text" formControlName="country" class="form-control" id="country" placeholder="Country" [ngClass]="{'is-invalid': form.country.errors && (form.country.touched || form.country.dirty)}">
                            <div *ngIf="form.country.errors && (form.country.touched || form.country.dirty)" class="invalid-feedback">
                                <div *ngIf='form.country.errors.required'>*Country is Required</div>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="message">Prayer Request:*</label>
                            <!-- <input type="text" formControlName="message" class="form-control" id="message" placeholder="Message" [ngClass]="{'is-invalid': form.message.errors && (form.message.touched || form.message.dirty)}"> -->
                            <textarea class="form-control" formControlName="prayerRequest" id="prayerRequest" placeholder="Prayer Request" rows="5" [ngClass]="{'is-invalid': form.prayerRequest.errors && (form.prayerRequest.touched || form.prayerRequest.dirty)}"></textarea>
                            <div *ngIf="form.prayerRequest.errors && (form.prayerRequest.touched || form.prayerRequest.dirty)" class="invalid-feedback">
                                <div *ngIf='form.prayerRequest.errors.required'>*A Prayer Request is Required</div>
                            </div>
                        </div>

                    </div>
                </div>

                <div *ngIf="formNotValid" class="formNotValid">
                    *Please enter all required fields before submitting
                </div>

                <div class="form-group" id="btnSubmit">                 
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>    
            </div>
        </form>
    </div>
</div>
